// =============================================================
//
//  A button builder
//  Create different buttons with color,
//  background color, and border color.
//
// =============================================================

$btn-radius:                            4px;



// Button Font things and line height
// =============================================================
$btn-line-height:                       $base-line-height;
$btn-line-height-lg:                    ($base-line-height * 1.3);
$btn-line-height-sm:                    $baseline-size;


$btn-font-size:                         $baseline-size;
$btn-font-size-lg:                      $base-font-size-large;
$btn-font-size-sm:                      ($baseline-size * 0.875);

$btn-font-weight:                       $font-family-weight;




// Button Padding sizes
// =============================================================
$btn-horizontal-padding:                $base-padding-horizontal;
$btn-vertical-padding:                  $base-padding-lg-vertical;

$btn-horizontal-padding-lg:             $base-padding-lg-horizontal;
$btn-vertical-padding-lg:               $base-padding-lg-vertical;

$btn-horizontal-padding-sm:             $base-padding-sm-horizontal;
$btn-vertical-padding-sm:               $base-padding-sm-vertical;

// =============================================================
//
//  A button builder
//  Create different buttons with color,
//  background color, and border color.
//
// =============================================================

@mixin button-version ($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;
    @include transition(all .25s ease);

    &:hover {
        background-color: darken($background, 5%);
        border-color: darken($border, 5%);
    }
    &:active {
        color: $color;
        background-color: darken($background, 8.5%);
        border-color: darken($border, 8.5%);
        @include box-shadow(inset 0px 2px 4px 1px rgba(0,0,0,.15));
        outline: 0;
    }
}

@mixin button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, $button-line-height, $button-radius) {
    padding: $button-padding-vertical $button-padding-horizontal;
    font-size: $button-font-size;
    line-height: $button-line-height;
    border-radius: $button-radius;
}


// =============================================================
//
//  $Buttons
//
// =============================================================



// Default //
$btn-default-color:                     $base-color-777;
$btn-default-bg:                        $base-bg;
$btn-default-border:                    $base-color-ccc;

// Default-outline //
$btn-default-color-outline:         $base-color-777;
$btn-default-bg-outline:            transparent;
$btn-default-border-outline:        $base-color-777;

// Primary
$btn-primary-color:                     $base-bg;
$btn-primary-bg:                        $primary-color;
$btn-primary-border:                    darken($primary-color, 12%);

// Primary-outline //
$btn-primary-color-outline:         $primary-color;
$btn-primary-bg-outline:            transparent;
$btn-primary-border-outline:        $primary-color;

// Danger
$btn-danger-color:                      $base-bg;
$btn-danger-bg:                         $danger-color;
$btn-danger-border:                     darken($danger-color, 12%);

// Danger-outline //
$btn-danger-color-outline:         $danger-color;
$btn-danger-bg-outline:            transparent;
$btn-danger-border-outline:        $danger-color;

// Info
$btn-info-color:                        $base-bg;
$btn-info-bg:                           $info-color;
$btn-info-border:                       darken($info-color, 12%);;

// Info-outline //
$btn-info-color-outline:           $info-color;
$btn-info-bg-outline:              transparent;
$btn-info-border-outline:          $info-color;

// Warning
$btn-warning-color:                     $base-bg;
$btn-warning-bg:                        $warning-color;
$btn-warning-border:                    darken($warning-color, 12%);

// Warning-outline //
$btn-warning-color-outline:         $warning-color;
$btn-warning-bg-outline:            transparent;
$btn-warning-border-outline:        $warning-color;

// Success
$btn-success-color:                     $base-bg;
$btn-success-bg:                        $success-color;
$btn-success-border:                    darken($success-color, 12%);

// Success-outline //
$btn-success-color-outline:         $success-color;
$btn-success-bg-outline:            transparent;
$btn-success-border-outline:        $success-color;