/*------------------------------------*\
    $Danger Button Styles
\*------------------------------------*/

/* Danger Button
==========================================================================*/
.btn--danger,
.nav > li > a.btn--danger {
    @include button-version(
        $btn-danger-color,
        $btn-danger-bg,
        $btn-danger-border
    );
}




/* Danger Button Outline
==========================================================================*/
.btn--danger--outline,
.danger--outline {
    @include button-version(
        $btn-danger-color-outline,
        $btn-danger-bg-outline,
        $btn-danger-border-outline
    );
    text-shadow: none;

    &:hover {
        border-color: rgba(0, 0, 0, .08);
        color: $base-white;
        background-color: $danger-color;
    }
    &:active {
        @include box-shadow(
            inset 0px 2px 4px 1px rgba(0,0,0,.15)
        );
    }
}





/* Danger Button Gradient
==========================================================================*/
.btn--danger--gradient,
.danger--gradient {
    @include gradient(
        $danger-color,
        darken($danger-color, 6%),
        lighten($danger-color, 15%)
    );
    color: $base-white;
    border: 1px solid darken($danger-color, 12%);
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .65);

    &:hover {
        @include gradient($danger-color, $danger-color, $danger-color);
        border-color: rgba(0, 0, 0, .08);
    }

    &:active {
        @include box-shadow(inset 0px 2px 4px 1px rgba(0,0,0,.15));
    }
}