/*------------------------------------*\
    $Info Button Styles
\*------------------------------------*/

/* Info Button
==========================================================================*/
.btn--info,
.nav > li > a.btn--info {
    @include button-version(
        $btn-info-color,
        $btn-info-bg,
        $btn-info-border
    );
}




/* Info Button Outline
==========================================================================*/
.btn--info--outline,
.info--outline {
    @include button-version(
        $btn-info-color-outline,
        $btn-info-bg-outline,
        $btn-info-border-outline
    );
    text-shadow: none;

    &:hover {
        border-color: rgba(0, 0, 0, .08);
        color: $base-white;
        background-color: $info-color;

    }
    &:active {
        @include box-shadow(
            inset 0px 2px 4px 1px rgba(0,0,0,.15)
        );
    }
}





/* Info Button Gradient
==========================================================================*/
.btn--info--gradient,
.info--gradient {
    @include gradient(
        $info-color,
        darken($info-color, 6%),
        lighten($info-color, 15%)
    );
    color: $base-white;
    border: 1px solid darken($info-color, 12%);
    box-shadow: inset 0 1px 0px rgba(255, 255, 255, .65);

    &:hover {
        @include gradient(
            $info-color,
            $info-color,
            $info-color
        );
        border-color: rgba(0, 0, 0, .08);
    }
    &:active {
        @include box-shadow(
            inset 0px 2px 4px 1px rgba(0,0,0,.15)
        );
    }
}